<form #rsvpForm="ngForm" (ngSubmit)="processRSVP(rsvpForm)">

  <mat-form-field>
    <input type="text" name="name" ngModel placeholder="Name" matInput>
  </mat-form-field>

  <table>
    <tr>
      <td>Phone:</td>
      <td>
        <input type="tel" name="mobile" ngModel>
      </td>
    </tr>
    <tr>
      <td>Attending?</td>
      <td>
        <input type="radio" name="attending" value="true" ngModel>Yes
        <input type="radio" name="attending" value="false" ngModel>No
      </td>
    </tr>
    <tr>
      <td>Comments:</td>
      <td>
        <textarea name="comments" id="" cols="30" rows="10" ngModel></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" mat-button mat-raised-button color="accent">
          RSVP
        </button>
      </td>
    </tr>
  </table>

</form>